-e git+https://github.com/spendright-scrapers/srs.git@ab428be73db75923745d329f29a07175ff6022d2#egg=srs
beautifulsoup4==4.3.2
dumptruck==0.1.6  # doesn't work in Python 3
html5lib==0.999  # used indirectly by beautifulsoup4
